<div class="m-3">
	<div class="d-flex">
		<span id="user-item" class="">
			{{user_id}}.
		</span>
		<span id="user-name-item" class="">
			{{user_name}}
		</span>
		<span id="email-item" class="">
			{{user_email}}
		</span>
		<span id="password-item" class="" hidden>
			{{user_password}}
		</span>
		<span id="create-date-item" class="">
			{{created_at}}
		</span>
		<span id="modify-date-item" class="">
			{{updated_at}}
		</span>

		<div id="btns" class="flex-grow-1">
			<button class="delete-user" data-id="{{this.user_id}}">Delete</button>
		</div>
	</div>
</div>
	